.congrats-message .message-box {
    padding-top: 64px;
    padding-bottom: 64px;
}

.congrats-message .gradient-banner p, .message-successfull h3 {
    font-size: 1.5em;
}

.congrats-message .gradient-banner .text {
    margin-bottom: 40px;
}


.message-successfull h3 {
    margin-bottom: 50px;
}

.message-box{
    background:white;
    width: 84%;    
    margin: auto;
    position: relative;
    top: -152px;
    border: 1px solid rgb(209, 206, 206);
}
.message-successfull{
    text-align: center;
}
.conformation-no, .choice-header{
    color: white;
    background: white;
    border: 2px solid #f6f6f6;
}
.conformation-no{
    margin-bottom: 20px;
    margin-top: 20px;
}
.choiceheader-title.electricity, .confirmation-no-heading{
    background: #1d1489;

}
.choiceheader-title {
    text-transform: uppercase;
    height: 32px;
}

.choiceheader-title, 
.what-next, 
.confirmation-no-heading, 
.choice-company-logo  {    
    display: flex;
    align-items: center;
    justify-content: center;
}

.choiceheader-title  h3 {
    color: white;
    font-size: 1em;

}

.choiceheader-title.gas{
    background:#fb9734;
}
.choice-company-logo{
    text-align: center;
    margin: 8px;
    height: 120px;
}
.confirmation-no-heading{
    height: 55px;
}
.confirmation-no-heading h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.conform-no-section{
    display: flex;
    margin: 30px;

}
.conform-company img{
    height: 70px;
}
.conform-no-details{
    margin-left: 19%;
    

}
.conform-no-details h1{
    letter-spacing: 6.5px;
}
.conform-no-details p{
    color: #333333;
}
.what-next{
    background:#f3f3f3;
    text-align: center;
    position: relative;
    border-top: 1px solid #dbd9d9;
    border-bottom: 1px solid #dbd9d9;
    height: 106px;
    margin-top: 30px;
    
}
.what-next h1{
    padding: 10px 0px;
    font-size: 2em;
}
.whats-next-img{
    position: absolute;
    top: 15px;
    right: 68px;
}


/* electricity details with lists */
.choice-type-details, .choice-list{
    display: flex;
}

.round-no {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.round-no h1{
    position: relative;
    z-index: 1;
    color: white;
    font-size: 24px;
    font-weight: normal;
}

.round-no h1:after {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-image: -moz-linear-gradient( 11deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
    background-image: -webkit-linear-gradient( 11deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
    background-image: -ms-linear-gradient( 11deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
}

.choice-type-details-header{
    margin-bottom: 60px;
    justify-content: center;
    margin-top: 100px;
}
.choice-type-details-header h1, .return-home h1{
    color: white;
    font-size: 1.5em;
}
.thanks-choisng h1{
    text-align: center;
    font-size: 2em;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;

}
.thanks-choisng{
    margin-top: 30px;
    margin-bottom: 30px;
}
.thanks-choisng button{
    margin: auto;
}
.return-home{
    height: 95px;
    justify-content: center;
}
.return-home h1{
    font-family: 'muliregular';
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.choice-details-list p {
    font-size: 1.1em;
    color: #0a0d80;
    margin-bottom: 30px;
}
