.common-head {
    
    overflow: hidden;
    padding: 15px 50px;
    background-color: #ffffff;
    float: left;
    
    border-bottom: 4px solid #dbd9d9;
}
.menu{
    height: auto;
    position: relative;
    z-index: 111;
   /* background-color: #0a0d7f;
    width: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;*/
}


.header-box{
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid #dbd9d9;
}

/* menu  */

.nav-box {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 0vh;
    z-index: 99;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    display: none;
    
}
.nav-box-hide{
    display: none;
}
.nav-box.open {
    height: 100vh;
    display: block;
}
.nav-box-bg {
    background: #0a0d80;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.nav-box-content {
    color: white;
        position: relative;
        /* text-align: center; */
        margin-top: 70px;
}
body.open-nav {
    height:100vh;
    overflow: hidden;
}


/* filter */

.menu-close{
    text-align: center;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    background-color: white;
        margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* filter */

.filter-details{
    display: none;
    margin-top: 15px;
   
    overflow: hidden;
}

.filter-results{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}
.filter-results h1{
 color: white;
 font-size: 1.8rem;

}
.filter-results p{
    text-decoration: underline;
}

.filterby{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.filterby h1{
    color: white;
    font-size: 1.8rem;
    font-family: 'muliregular';
    font-weight: normal;
   
   }

   .hr-color{
       background: white;
   }

   .filterby.accordion {
    position: relative;
   }

   .filterby.accordion:after {
    position: absolute;
    top: 50%;
    right:0;
    background: url(../image/chevron.png) no-repeat center center;
    height: 26px;
    width: 48px;
    content: '';
        filter: brightness(0) invert(1);
        transform: translateY(-50%);
   }


   /* filter-catg */
   .container-round {
    display: block;
    position: relative;
    padding-left: 44px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 24px;
}

/* Hide the browser's default radio button */
.container-round input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 8px;
}

/* On mouse-over, add a grey background color */
.container-round:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-round input:checked ~ .checkmark {
    background-color: #fb9734;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-round input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-round .checkmark:after {
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid white;
}