.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 27px;
    width: 27px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #0a0d80;
    transform: translateY(-50%);
}
/* 
.check-container:hover input ~ .checkmark {
    background-color: #ccc;
} */

.check-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* 
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
} */

.check-container input:checked ~ .checkmark:after {
    display: block;
}

.check-container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}