.compare-result-header{
  background-image: -moz-linear-gradient( -142deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
  background-image: -webkit-linear-gradient( -142deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
  background-image: -ms-linear-gradient( -142deg, rgb(253,114,99) 0%, rgb(172,71,175) 37%, rgb(91,28,250) 100%);
  justify-content: space-between;
  display: flex;
  margin-top: 70px;
  padding: 0 20px;
  height: 58px;
  align-items: center;
}

.compare-result-header, .filter-tag p {
    font-family: 'muliextrabold';
    font-size: 24px;
}

.filter-tag p {
    color: #0a0d80;
    text-align: left !important;
    max-width: 230px;
}

.compare-result-header i{
    padding-top: 3px;
}

.compare-result-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 30px;
}
.compare-result-btn i {
    margin-left: 9px;
    padding-top: 3px;
}
.circle2 {
    bottom: -0.25em;
    left: 13.25em;
}
.common-banner{
    min-height: 420px;
}

.filter-container{
    padding: 0 4%;
}
/* scrolling sections */


.scroll-filter{
    display: flex;
    position: relative;
    min-width: 100%;
    padding-bottom: 35px;
    height:780px;
}

.filter-box{
    background:white;
    border: 2px solid #dbd9d9;
    margin: 20px;
    width: 400px;
    height: 100%;
    overflow-x: scroll; 
    overflow-y: hidden; 
    display: inline-block;
    white-space: normal;
    border-radius: 10px;
    padding-bottom: 60px;
}

.scroll-results{

    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    top: -158px;
    left: 70px;
    width: calc(100% - 418px);
    height: 1180px;
    padding-bottom: 40px;
}

.scroll-results-down{

    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* added to add up */
    height: 775px;
    width: 100%;
    padding-bottom: 40px;
}

.plan-options, .plan-details{
    /*display: inline-flex;*/
}

.plan-details {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-details{
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

.logo-details > h1{
 font-size: 20px;
 margin-top: 15px;
}

.plan-list > h1, .tailored-details h1 {
    font-size: 26px;
    margin-bottom: 30px;
}

.plan-list{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 83px 1px 10px 55px;
        color: #0a0d80;
    font-size: 20px;
}


.tailored-details{
    margin-top: 60px;
}
.tailored-details button {
    margin: 40px auto;
    font-size: 0.8em;
    display: block;
}

.top-filter-header{
    background: #fb9734;
    color:white;
}
.bottom-filter-header{
    background: #0a0d80;
    color: white;
}

.filter p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px;
}

.filter > .brand-logo {
    display:flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filter > .brand-logo img {
    border: 1px solid #f6f6f6;
        width: calc(100% - 60px);
    padding: 10px;
}



.brand-logo > i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 27px;
    color: orange;
}

.filter-accordion ul li {
    color: #0a0d80;
}

/* scroller design */
.scroll-results::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4353ff;
    height: 3px;
}

.scroll-results::-webkit-scrollbar-corner       { display: none; height: 0px; width: 0px; }


/* scroller design */
.scroll-results-down::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-results-down::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.scroll-results-down::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4353ff;
    height: 3px;
}

.scroll-results::-webkit-scrollbar-corner       { display: none; height: 0px; width: 0px; }


/* filter- accordion */
.filter-accordion a{
    text-decoration: none;
    color: inherit;

}

.compare-result .accordion, .compare-result .brand-logo, .compare-result .filter-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.compare-result .filter-tag {
    justify-content: space-around;
    margin: 30px auto;
}

.compare-result .filter-tag .note {
    margin: 0;
    width: 18px; 
    align-self: flex-start;
}

.compare-result .filter-tag .note img {
    margin:0;
}

.accordion {
    background-color:#fb9734;
    color: #0a0d80;
    cursor: pointer;
    padding: 0 30px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 0px;
    height: 58px;
}

.active, .accordion:hover {
    background-color: #0a0d80;
    color: white;
}
.panel{
    padding: 0 18px;
    color: black;
    display: none;
    background-color: white;
    overflow: hidden;
    text-align: left;
}
.panel {
    padding: 40px 30px;
    display: none;
    background-color: white;
    overflow: hidden;
}

button.accordion:after {
    content: '\002B';
    color: #0a0d80;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font-size: 40px;
}

button.accordion.active:after {
    content: "\2212";
    color: white;
}

.according-btn{
    margin: 90px 20px 20px 20px;
   width: calc(100% - 40px);
}

.show{
    display: block;
}
.accordion li a.toggle {
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}
.accordion li a.toggle:hover {
    background: rgba(0, 0, 0, 0.9);
}
.option-heading{background:#ddd; cursor:pointer;}
.option-content{background:#eee;}

/* Notice this class ! */
.is-hidden{ display: none; }

.according-btn-details{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
        margin: 0 auto;
}
.according-btn-details button {
    height: 50px;
    min-width: 50px;
    font-size: 0.8em;
    width: calc(50% - 8px);
    padding: 3px;
}

.view-btn {
    background-color: #0a0d80;
}

.remove-btn {
    background-color: #fd7263;
}















/* accordion */



.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion-option {
    width: 100%;
    float: left;
    clear: both;
    margin: 15px 0;
}

.accordion-option .title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 0;
    margin: 0;
}

.accordion-option .toggle-accordion {
    float: right;
    font-size: 16px;
    color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
    content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
    content: "Collapse All";
}